%form
	%fieldset
		%input#title.span8{ :type => :text, :placeholder => "Enter post title here..."}
		%p
		%textarea#body.span8{ :rows => 15, :placeholder => "Write the post body here..."}
		%hr
%h1#title_preview
%div#preview
