%ul.nav
  - if request.path_info == "/"
    %li.active
      %a{:href => "/"} Home
  - else
    %li
      %a{:href => "/"} Home             
  - Blog::Page.all.each do |page|
    - href = "/page/#{page[:id]}"
    - if href == request.path_info
      %li.active
        %a{:href => href }= page[:title]
    - else
      %li
        %a{:href => href }= page[:title]
%a.btn.pull-right{:href => "/admin" } Admin
